
<h1 id='hoto-title'>¡¡¡¡¡¡Hoto!!!!</h1>

  <table id='game-board'>

  <tr>
<% @board.each do |row|          %>



  <% row.each do |square| %>
<%        if square.colour == 'red'      %>

            <td class='red'>
<%=         square.height             %>
            </td>

<%        elsif square.colour == 'blue'      %>
       
            <td class='blue'>
<%=         square.height             %>
            </td>

<%        else                               %>
       
            <td class='normal'>
<%=         square.height             %>
            </td>
<%  end                                       %>

<%    end %>
  </tr>
<% end %>

</table>

<div id='button-container'>
  <h1 class='action-button'>place</h1>
  <h1 class='action-button'>topple</h1>
  <h1 class='action-button'>bloom</h1>
<!-- this p is here to give the container some filling, because everything else is floated -->
  <p>&nbsp </p>
</div>