<h1>Listing Games</h1>
<h2 id="host-button"> Host Game </h2>
<button id="create-game-button"> Create Game </button>

<table>

  <tbody id="game-list">
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.id, game %>  </td>
        <% game.users.each do |user| %>
          <td><%= user.name %>  </td> 
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>