<h1 id='welcome'>Welcome to Hoto.</h1>
<h3 id="intro-message">Hoto is a zany board game that knows how to boogie.</h3>
<section id='options'>
  <h2 id="host-button"> Host Game </h2>
  <button id="create-game-button"> Create Game </button>
</section>

<!-- <h2>Available Games</h2> -->
<div id="table-container">
<!-- stuff loaded in here -->
<p>loading...</p>
</div>

<script>
$(function () {
  var poll = function () {
    $('#table-container').load('available_games_refresh', function(){
      setTimeout(poll, 3000);
    });
  };
  poll();
});

</script>