<h1>Listing Games</h1>
<h2 id="host-button"> Host Game </h2>
<h2 id="create-game-button"> Create Game </h2>

<table>

  <tbody id="game-list">
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.id, game %>  </td>


      </tr>
    <% end %>
  </tbody>
</table>