// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $game-square-background: grey;
// $fonts: helvetica, sans-serif;


// .player-info-phase{
//   margin-left: 2.6%;
//   h1{
//     margin-bottom: 0.5%;
//   }
// }


////
@-webkit-keyframes shift-foreground {
  0% {
    color: #008080; }

  25% {
    color: #FF19C2; }

  50% {
    color: #00FFFF; }

  75% {
    color: #CCAE14; }

  100% {
    color: #008080; } }
    
@keyframes shift-foreground {
  0% {
    color: #008080; }

  25% {
    color: #FF19C2; }

  50% {
    color: #00FFFF; }

  75% {
    color: #CCAE14; }

  100% {
    color: #008080; } }
//////

.game-over{
  -webkit-animation: 1s shift-foreground linear infinite;
          animation: 1s shift-foreground linear infinite; }

hr {
  clear: both;
}
// table {
//   width: 300px;
//   margin: auto;
// }
#info-div{
  float:left;
  width: 20%;
  margin-top: 10%;
}

.info-shove{
  margin-left: 80px;
}

#white-circle{
  float:left;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  margin-top: 20px;
  margin-left: 40px;
}
#black-circle{
  float:left;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #000000;
  margin-top: 13px;
  margin-left: 40px;
}


#game-board-encase{
  float:left;
  width:55%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#game-board {
  margin: 50px auto 0;
  padding: 0.5px !important;
  width: 40em;
  border-collapse: separate;
  border-spacing: 3px;
  tr {
    height: 8em;
  }
  td {
    background: grey;
    text-align: center;
    position: relative;
  }
  .active {
    background: lightgrey;
  }
}

#player-turn-info{
  float:left;
  margin-top: 10%;
  width: 20%;
}

#player-turn-info2{
  float:left;
  margin-top: 10%;
  width: 20%;
}

.black span {
  background-color: black;
  color: white;
  cursor: pointer; cursor: hand;

}

.white span{
  background-color: white;
  color: black;
  cursor: pointer; cursor: hand;

}

.normal span {
  color: yellow;
}
.empty span {
  color: yellow;
}

.piece-numbers {
  font-size: 210%;
  font-family: Arial, Helvetica, sans-serif;
}
.game-square {
  cursor: pointer; cursor: hand;
}
.pieces {
  display: block;
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  font-size: 1.5em;
  margin: auto;
  z-index: 5;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

}

.fake-pieces {
   display: block;
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  margin: auto;
  z-index: 6;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px
}

#button-container {
// margin-left: 70%;
  width: 30%;  
  margin-left: auto;
  margin-right: auto;
}

.user-games {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.edit-link a {
  // text-align: right;
}

.editbtn{
  margin-left: 12.5%;
}

.chart{
  width: 25%;
  margin-left: 40%;
}

/*scrollable tables*/
.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > .statistics{
  height: auto;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}

.header-fixed > .gamejoin > tr > td,
.header-fixed > .gamejoin > tr > th {
    width: 33.33%;
}

.header-fixed > .statistics > tr > td,
.header-fixed > .statistics > tr > th {
    width: 25%;
}

.header-fixed > .activegames > tr > td,
.header-fixed > .activegames > tr > th {
    width: 16.66%%;
}

.header-fixed > .pastgames > tr > td,
.header-fixed > .pastgames > tr > th {
    width: 20%;
}
/*#join-game-list > .header-fixed > tbody > tr > td,
#join-game-list > .header-fixed > thead > tr > th {
 
    width: 33%;

}*/
.game-list > .header-fixed > tbody > tr > td,
.game-list > .header-fixed > thead > tr > th {
    width: 33%;
}
