@import "bootstrap";
@import "variables";

// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $game-square-background: grey;
// $fonts: helvetica, sans-serif;


// .player-info-phase{
//   margin-left: 2.6%;
//   h1{
//     margin-bottom: 0.5%;
//   }
// }
$scale: 5;
$game-board-width: 8em * $scale;
$piece-diameter: 1.6rem * $scale;
$piece-font-size: .66em * $scale;

$table-row-height: 1.6em * $scale;
$table-border-spacing: 3px;


// development style to show where any grid-spanning elements are...
// div[class="row"] {
//     border: 1px dotted rgba(0, 0, 0, 0.5);
// }

// div[class^="col-"] {
//     background-color: rgba(255, 0, 0, 0.2);
// }


////
@-webkit-keyframes shift-foreground {
  0% {
    color: #008080; }

  25% {
    color: #FF19C2; }

  50% {
    color: #00FFFF; }

  75% {
    color: #CCAE14; }

  100% {
    color: #008080; } }
    
@keyframes shift-foreground {
  0% {
    color: #008080; }

  25% {
    color: #FF19C2; }

  50% {
    color: #00FFFF; }

  75% {
    color: #CCAE14; }

  100% {
    color: #008080; } }
//////

#gameplay-container {
  .game-over{
    -webkit-animation: 1s shift-foreground linear infinite;
            animation: 1s shift-foreground linear infinite; }

  hr {
    clear: both;
  }
  // table {
  //   width: 300px;
  //   margin: auto;
  // }
  #info-div{
    @extend .col-md-3;
    // float:left;
    position: relative;
    // width: 20%;
    @media (min-width: $screen-lg) {
      margin-top: 10%;
    }

    #white-circle{
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: white;
      position: absolute;
      left: 5rem;
    }

    .info-shove{
      margin-left: 80px;
      margin-top: 0;
    }
    
    #black-circle{
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #000000;
      position: relative;
      top: 3rem;
      left: 3.5rem;
    }
  }

  #game-board-encase{
    overflow:hidden;
    // float:left;
    // width:55%;
    // margin-top: 2%;
    // margin-bottom: 2%;
  }

  #game-board {
    // margin: 50px auto 0;
    // padding: 0.5px !important;
    width: $game-board-width;
    border-collapse: separate;
    border-spacing: $table-border-spacing;
    tr {
      height: $table-row-height;
    }
    td {
      background: grey;
      text-align: center;
      position: relative;
    }
    .active {
      background: lightgrey;
    }
  }

  #player-turn-info{
  }

  #player-turn-info2{
  }

  .black span {
    background-color: black;
    color: white;
    cursor: pointer; cursor: hand;

  }

  .white span{
    background-color: white;
    color: black;
    cursor: pointer; cursor: hand;

  }

  .normal span {
    color: yellow;
  }
  .empty span {
    color: yellow;
  }

  .piece-numbers {
    font-family: Arial, Helvetica, sans-serif;
  }
  .game-square {
    cursor: pointer; cursor: hand;
  }

  .pieces {
    display: block;
    width: $piece-diameter;
    height: $piece-diameter;
    position: absolute;
    font-size: $piece-font-size;
    margin: auto;
    z-index: 5;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

  }

  .fake-pieces {
    display: block;
    width: $piece-diameter;
    height: $piece-diameter;
    position: absolute;
    margin: auto;
    z-index: 6;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px
  }

  #button-container {
  // margin-left: 70%;
    width: 30%;  
    margin-left: auto;
    margin-right: auto;
  }

  .user-games {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .edit-link a {
    // text-align: right;
  }

  .editbtn{
    margin-left: 12.5%;
  }

}
