// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  margin: auto;
  text-align: center;
    width: 30%;
}

table {
  width: 300px;
  margin: auto;
}

#game-board {
  margin-top: 50px;
}

tr{
  margin-top: 5px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

td {
  background: grey;
  text-align: center;

}

.active {
  background: white;
}

