// $fonts: Helvetica, sans-serif;


#header{
  width: 100%;
  margin-top: 30px;
}



#hoto-title {
  // font-family: $fonts;
  // text-align: center;
    font-size: 4em;
    margin-left: 5%;
    display: inline-block;
    a{
      text-decoration: none;
    }
}

#navbar{
  display: inline-block;
}