// $fonts: Helvetica, sans-serif;


#header{
  width: 100%;
  margin-top: 30px;
}



#hoto-title {
  // font-family: $fonts;
  // text-align: center;
    font-size: 4em;
    margin-left: 2.5%;
    margin-right: 2%;
    display: inline-block;
    a{
      text-decoration: none;
    }
}

#navbar{
  display: inline-block;
  margin-left: 60%;
  width: 20%;
  h5 a{
    margin-left: 2%;
  }
}

