// $transparent-grey: hsla(33, 11%, 50%, .1);
@import 'bootstrap';
@import 'variables';

body,
html {
  font-size: 10px;
}
#home-page-container {
  @extend .container-fluid;
}

#info-container {
  width: 48%;
  float: left;
  margin-top: 8%;
}

#log-in-button{
  margin: 1%;
}

#sign-up-button{
  margin: 1%;
}

#rules-button{
  margin: 1%;
}

#table-container{
  // border: 2px solid black;
  width: 49%;
  float: left;
  margin-top: 8%;

  td,
  th {
    float: left;
  }
}

.game-list {
  width: 90%;
  padding: 12px;
  border-collapse: collapse;
  /*margin: 5%;*/
  /*float: right;*/
  /*clear: both;*/
  a {
    text-decoration: none;
  }
  #column-titles{
    background: lightsteelblue;
    color: white;
  }  
}

#options{
  width: 50%;
  float: left;
  // height: 15em;
  margin-left: 5%;
}

#welcome h1{
  margin-left: 5%;
  width: 100%;
}

#welcome h3{
  margin-left: 5%;
  width: 100%;
}


.chart{
  width: 25%;
  margin-left: 40%;
}

/*scrollable tables*/
.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > .statistics{
  height: auto;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    // float: left;
}

.header-fixed > .gamejoin > tr > td,
.header-fixed > .gamejoin > tr > th {
    width: 33.33%;
}

.header-fixed > .statistics > tr > td,
.header-fixed > .statistics > tr > th {
    width: 25%;
}

.header-fixed > .activegames > tr > td,
.header-fixed > .activegames > tr > th {
    width: 16.66%%;
}

.header-fixed > .pastgames > tr > td,
.header-fixed > .pastgames > tr > th {
    width: 20%;
}
/*#join-game-list > .header-fixed > tbody > tr > td,
#join-game-list > .header-fixed > thead > tr > th {
 
    width: 33%;

}*/
.game-list > .header-fixed > tbody > tr > td,
.game-list > .header-fixed > thead > tr > th {
    width: 33%;
}

