// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "variables";

#player-profile {
	.column-title {
		float: left;
		width: calc(100% / 6);
	}

	.row > div {
	    @extend .col-md-9;
	    // @extend .col-md-offset-1;
	    margin: auto;
	}

	tr td {
		float: left;
		width: calc(100% / 6);
	}
}