<div id="rules">
<h2>How to play Hoto</h2>
<p>Hoto is a turn-based board game played by two people.  Each turn has a place phase and a topple phase.</p>
<h2>Placing phase</h2>
<p>Players begin their turn by placing one piece on the board.  You can place on empty spaces or on pieces of your colour.  If a stack of pieces is two or greater, it can topple. If it is four high it will bloom. Once you have placed, you may begin toppling or end your turn.  Players must place, but they do not have to topple.
</p>
<h2>Toppling phase</h2>
<p>Once you have placed, you may begin toppling.  Toppling is the movement aspect of Hoto.  Stacks that are higher than one can topple as long as they have an adjacent space.  When a piece topples, its pieces will spread out in a line in the direction that it toppled.  If it spreads across other stacks, the hieght of those stacks will be increased.  If it spreads across your opponent's stack, that stack will be captured and its colour will be changed to yours.  The stack now belongs to you!  You may topple as many times as you like before you end your turn.</p>
<h2>Blooming</h2>
<p>If the height of a stack reaches four, it will bloom.  This means that its four pieces will spread to the four adjacent squares, increasing the height of any stacks and capturing any opponent's pieces.  A bloom ends your turn automatically, so be wary when toppling onto stacks of three. Blooms can be chained, so be careful!</p>
<h2>How to win at Hoto</h2>
<p>You win by capturing all of your opponent's pieces.  This can be done by toppling or blooming onto your opponent's pieces.</p>
</div>